<div class="share-page">
    Share this on
    <ul class="social-media-list">

        <li><a rel="me"
                href="https://twitter.com/intent/tweet?text={{ page.title }}&url={{ site.url }}{{ page.url }}&via={{ site.twitter_username }}&related={{ site.twitter_username }}"
                rel="nofollow" target="_blank"><svg class="svg-icon grey">
                    <use xlink:href="{{ '/assets/minima-social-icons.svg#twitter' | relative_url }}"></use>
                </svg></a></li>

        <li><a rel="me" href="https://facebook.com/sharer.php?u={{ site.url }}{{ page.url }}" rel="nofollow"
                target="_blank"><svg class="svg-icon grey">
                    <use xlink:href="{{ '/assets/minima-social-icons.svg#facebook' | relative_url }}"></use>
                </svg></a></li>


        <li><a rel="me"
                href="https://www.linkedin.com/shareArticle?mini=true&url={{ site.url }}{{ page.url }}&title={{page.title}}&summary={{page.description}}&source={{site.url}}"
                rel="nofollow" target="_blank"><svg class="svg-icon grey">
                    <use xlink:href="{{ '/assets/minima-social-icons.svg#linkedin' | relative_url }}"></use>
                </svg></a></li>


        <li><a rel="me" href="https://www.reddit.com/submit?title={{ page.title }}&url={{ site.url }}{{ page.url }}"
                rel="nofollow" target="_blank">
                <svg class="svg-icon grey">
                    <use xlink:href="{{ '/assets/minima-social-icons.svg#reddit' | relative_url }}"></use>
                </svg>
            </a>
        </li>

    </ul>
</div>