---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import
  "minima/skins/{{ site.minima.skin | default: 'classic' }}",
  "minima/initialize";

img.centered {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.share-page {
  text-align: center;
  padding: 8px 15px;
  border-radius: 5px;
  margin: 1.5 * $spacing-unit 0;

  a {
      font-weight: 700;
      margin-left: 10px;

      &:hover {
          border-bottom: 1px dashed #fff;
      }
  }
}