---
layout: default
---
<article class="post h-entry" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
    <h1 class="post-title p-name" itemprop="name headline">{{ page.title | escape }}</h1>
    <p class="post-meta">
      {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
      <time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
        {{ page.date | date: date_format }}
      </time>
      {%- if page.modified_date -%}
        ~ 
        {%- assign mdate = page.modified_date | date_to_xmlschema -%}
        <time class="dt-modified" datetime="{{ mdate }}" itemprop="dateModified">
          {{ mdate | date: date_format }}
        </time>
      {%- endif -%}
      {%- if page.author -%}
        • {% for author in page.author %}
          <span itemprop="author" itemscope itemtype="http://schema.org/Person">
            <span class="p-author h-card" itemprop="name">{{ author }}</span></span>
            {%- if forloop.last == false %}, {% endif -%}
        {% endfor %}
      {%- endif -%}</p>
  </header>

  <div class="post-content e-content" itemprop="articleBody">
    
    {%- assign pieces = content | split: '<img src="' -%}
    {%- for piece in pieces -%}
      {%- if forloop.first == true -%}
        {{ piece }}
      {%- else -%}
        
          {%- assign url = piece | split: '" alt="' | first -%}
          {%- assign alt = piece | split: '" alt="' | shift | join: '" alt="' | split: '"' | first -%}
          {%- assign rest = piece | split: '" alt="' | shift | join: '" alt="' | split: '"' | shift | join: '"' -%}
          {%- assign url-filename = url | split: '/' | last -%}
          {%- assign url-folder = url | split: '/' | pop | join: '/' -%}
          {%- assign url-extension = url | split: '.' | last -%}
          {%- if url-extension == "svg" -%}
            
            <img  src="{{ url }}" alt={{alt}}{{ rest }}
          {%- else -%}
          
                <img 
            src="{{ url }}"
          srcset="{{url-folder}}/img/560/{{ url-filename }} 560w,
                {{url-folder}}/img/655/{{ url-filename }} 655w,
                {{url-folder}}/img/874/{{ url-filename }} 874w,
                {{url-folder}}/img/1024/{{ url-filename }} 1024w,
                {{url-folder}}/img/1230/{{ url-filename }} 1230w"
          sizes="82vw,
                (min-width:500px) 88vw,
                (min-width:800px) 76vw,
                (min-width:1000px) 64vw"
          alt="{{ alt }}"{{ rest }}
          {%- endif -%}
       
      {%- endif -%}
    {%- endfor -%}

  </div>
  <div class="post-tags">
    Tags: 
    {% if post %}
      {% assign tags = post.tags %}
    {% else %}
      {% assign tags = page.tags %}
    {% endif %}
    {% for category in tags %}
    <a href="{{site.baseurl}}/tags/#{{category|slugize}}">{{category}}</a>
    {% unless forloop.last %}&nbsp;{% endunless %}
    {% endfor %}
  </div>

  {%- include share-page.html -%}


  {%- if site.disqus.shortname -%}
    {%- include disqus_comments.html -%}
  {%- endif -%}

  <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
</article>
